html {
  height: 100%;
  width: 100%;
}

.circle {
  float: left; 
  margin-left: -400px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #121212; /* Set your desired color */
  transition: transform 1s ease; /* Smooth rotation */
  background-image:url(nom.jpg);
  background-size: cover;
  z-index: -10;
  background-attachment: fixed;
  position: fixed;
}


.circle2 {
  float: right; 
  margin-left: 600px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #121212; /* Set your desired color */
  transition: transform 1s ease; /* Smooth rotation */
  background-image:url(nom.jpg);
  background-size: cover;
  z-index: -10;
  background-attachment: fixed;
  position:fixed;
}
